::-ms-clear {
    display: none;
}

.management .#{$prefix}form-display-field.#{$prefix}form-display-field-default {
    margin-top: 0 !important;
    min-height: 20px !important;
    word-break: break-word;
    overflow: auto;
}

.management .field-with-top-margin .#{$prefix}form-display-field.#{$prefix}form-display-field-default {
    margin-top: 8px !important;
}

.#{$prefix}field.#{$prefix}item-disabled label {
    .#{$prefix}tool {
        pointer-events: all;

        * {
            pointer-events: all;
            cursor: inherit;
        }
    }
}

//For safary browser to fix #6338 fieldsets do not toggle on Safari
.#{$prefix}safari {
    .#{$prefix}fieldset {
        overflow: visible;
    }
}

.#{$prefix}fieldset-header-formpagination,
.#{$prefix}fieldset-header-administration-formpagination {
    &>.#{$prefix}fieldset-header-text {
        // z-index: 1000000;
        position: initial;
    }

    .#{$prefix}fieldset-header-tool-formpagination>.#{$prefix}tool-img {
        opacity: 1;
    }
}

.#{$prefix}form-item-label-default .#{$prefix}form-item-label-help {
    position: absolute;
    right: 0;
    cursor: help;
}

.#{$prefix}form-text-default.#{$prefix}form-textarea {
    resize: none;
}

.#{$prefix}form-file-wrap {
    .#{$prefix}form-trigger-wrap.#{$prefix}form-trigger-wrap-focus .#{$prefix}form-text {
        border-color: $form-toolbar-text-field-focus-border-color;
    }

    .#{$prefix}form-trigger-wrap.#{$prefix}form-trigger-wrap-invalid .#{$prefix}form-text {
        border-color: $form-text-field-invalid-border-color;
    }
}

.#{$prefix}grid-cell-inner.#{$prefix}grid-cell-inner-treecolumn {
    text-align: left !important;
}

.#{$prefix}grid-item-focused .#{$prefix}grid-cell-inner:before {
    border: 0;
}

.full-eye {
    background-image: url("../../resources/images/bim/eye.png");
}

.half-eye {
    background-image: url("../../resources/images/bim/halfeye.png");
}

.gray-eye {
    background-image: url("../../resources/images/bim/eye_bw.png");
}

.#{$prefix}tip .#{$prefix}tip-bodyWrap .#{$prefix}autocontainer-innerCt>*:last-child {
    margin-bottom: 0;
}

.#{$prefix}tip .#{$prefix}tip-bodyWrap .#{$prefix}autocontainer-innerCt>*:first-child {
    margin-top: 0;
}

.#{$prefix}toast {
    .#{$prefix}autocontainer-innerCt {
        word-break: break-word;
    }
}

.#{$prefix}field.#{$prefix}resizable {
    .#{$prefix}form-text-field-body.#{$prefix}form-textarea-body {
        display: table-row;
        width: 100%;
    }
}

/**
* Management Light Tab Panel
*/
@include extjs-tab-panel-ui($ui: "managementlighttabpanel",
    // bar
    $ui-bar-background-color: #fff,
    $ui-bar-border-color: $base-color,
    $ui-bar-border-width: 0 0 1px 0 !important,
    // tab border
    $ui-tab-border-width: 1px,
    $ui-tab-border-color: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-over: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-focus-over: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-disabled: mix(#000, $neutral-light-color, 10%) mix(#000, $neutral-light-color, 10%) $base-color mix(#000, $neutral-light-color, 10%),
    $ui-tab-border-color-active: $base-color $base-color #fff $base-color,
    $ui-tab-border-color-focus-active: $base-color $base-color #fff $base-color,
    // tab font color
    $ui-tab-color: mix(#fff, $color, 40%),
    $ui-tab-color-focus: mix(#fff, $color, 40%),
    $ui-tab-color-over: mix(#fff, $color, 40%),
    $ui-tab-color-focus-over: mix(#fff, $color, 40%),
    $ui-tab-color-disabled: mix(#fff, $color, 50%),
    $ui-tab-color-active: $base-color,
    $ui-tab-color-focus-active: $base-color,
    // tab font weight
    $ui-tab-font-weight-active: bold,
    $ui-tab-font-weight-focus-active: bold,
    // tab icon color
    $ui-tab-glyph-color: mix(#fff, $color, 60%),
    $ui-tab-glyph-color-focus: mix(#fff, $color, 60%),
    $ui-tab-glyph-color-over: mix(#fff, $color, 60%),
    $ui-tab-glyph-color-focus-over: mix(#fff, $color, 60%),
    $ui-tab-glyph-color-disabled: mix(#fff, $color, 70%),
    $ui-tab-glyph-color-active: $base-color,
    $ui-tab-glyph-color-focus-active: $base-color,
    // outline
    $ui-tab-outline-width-focus: 0,
    // tab padding
    $ui-tab-padding: 4px 7px 4px 7px,
    // tab background opacity
    $ui-tab-background-opacity-over: 0.04,
    $ui-tab-background-opacity-active: 0.06);

@include extjs-panel-ui($ui: "managementlighttabpanel");

/**
* Tab panel with tools
*/
.tabbarwithtools {
    .#{$prefix}tab-bar {
        .management-tool {
            margin: 10px 4px auto 4px;
        }
    }
}

/**
* Management menu
*/
@include extjs-menu-ui($ui: "actionmenu",
    $ui-glyph-color: $action-color,
    $ui-item-active-background-color: $action-color);

.#{$prefix}tab-bar-horizontal.#{$prefix}tab-bar-managementlighttabpanel-top {
    margin-bottom: 1px;

    &>.#{$prefix}tab-bar-body-managementlighttabpanel {
        margin-bottom: -1px;
    }
}

.#{$prefix}panel-body-managementlighttabpanel {
    margin-top: -1px;
}

.#{$prefix}box-scroller-tab-bar-managementlighttabpanel {
    color: mix(#fff, $color, 40%);
}

.management .#{$prefix}fieldset-formpagination,
.#{$prefix}sso-fieldset.#{$prefix}fieldset-formpagination {
    border-top-color: $base-color  !important;

    .#{$prefix}fieldset-header-tool-formpagination>.#{$prefix}tool-toggle {
        color: $base-color;
    }
}

/**
 * SSO fieldset
 */
.#{$prefix}sso-fieldset.#{$prefix}fieldset-formpagination {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;

    .#{$prefix}fieldset-header {
        margin-left: auto;
        margin-right: auto;
    }
}

// fix scrollbar color for Firefox
* {
    scrollbar-width: auto;
    scrollbar-color: mix(#000, $neutral-light-color, 20%) mix(#000, $neutral-light-color, 2%);
}

.#{$prefix}panel-bold-header {

    .#{$prefix}panel-header-title-default,
    .#{$prefix}panel-header-title-administration {
        font-weight: 600;
    }
}

/** grid header **/
.#{$prefix}grid.import-errors-grid {
    .#{$prefix}panel-header {
        background-color: lighten($neutral-color, 12%);

        .#{$prefix}panel-header-title-default {
            color: $grid-grouped-title-color;
        }
    }
}

.#{$prefix}grid-cell.#{$prefix}numericcell {
    .#{$prefix}cell-content {
        text-align: right;
    }
}

.#{$prefix}tool-gray .#{$prefix}tool-tool-el {
    color: $cmdbuild-header-icon-color;
}

/** link **/
.x-btn-inner-link-small {
    color: mix(#fff, $color, 30%);
    line-height: $button-small-line-height;
}

.unitOfMesure {
    cursor: default;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
}

.unitOfMesure::before {
    content: attr(unitOfMesure);
    margin-right: 7px;
}

.#{$prefix}form-item-body.#{$prefix}html-editor-wrap.#{$prefix}masked-relative {
    display: block;
}

.#{$prefix}form-item {
    .#{$prefix}form-item-body-default {

        // set form item body min-height to 0 in IE 10+
        @if $include-ie {

            .#{$prefix}ie10p &,
            .#{$prefix}ie11 & {
                min-height: 0;
            }
        }
    }
}

/**
 * Field container used as field
 */
.#{$prefix}form-fieldcontainer {
    &.#{$prefix}form-invalid {

        .#{$prefix}form-trigger-wrap,
        .#{$prefix}form-file-wrap .#{$prefix}form-trigger-wrap .#{$prefix}form-text {
            border-color: $form-field-invalid-border-color;
        }
    }
}

/**
 * Add style for mask button.
 */
.#{$prefix}mask-button {
    &::before {
        position: absolute;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
        font-family: FontAwesome !important;
        content: $fa-var-spinner  !important;

        font-size: $button-small-icon-size;
        width: $button-small-icon-size;
        height: $button-small-icon-size;
        line-height: $button-small-line-height;
        color: $button-default-color;

        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

.#{$prefix}order-columns-grid {
    padding: 5px;

    .#{$prefix}box-inner {
        height: 22px !important;

        .#{$prefix}tool-tool-el {
            width: 22px;
            height: 22px;
            padding: 3px;
            line-height: 16px;
            color: #919191;
        }
    }
}

.#{$prefix}separator-order-columns-grid {
    padding: 6px 0px 0px 0px;

    .#{$prefix}menu-item-separator {
        height: 1px;
        width: inherit;
        border-top: solid 1px #d0d0d0;
        background-color: #fff;
    }
}

.#{$prefix}column-tool-pressed {
    background-color: darken($color: $toolbar-footer-background-color, $amount: 6%);
}

.#{$prefix}column-header-sort-ASC .#{$prefix}column-header-text-inner:after {
    content: "\f15d";
}

.#{$prefix}column-header-sort-DESC .#{$prefix}column-header-text-inner:after {
    content: "\f15e";
}
.#{$prefix}menu-item-empty{
height: 32px;
}

.reports-container{
    .#{$prefix}box-target{
        height: 100%;
    }
}